*{
    margin: 0;
}

body {
    background-color: #F4F4F9;
    color: #334048;
    font-size: 30px;
}

#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

a {
    text-decoration: none;
    color: #334048;
}

p {
    text-align: center;
    /* line-height: 1000%; */
    
}

.p {
    padding-top: 29%;
    padding-bottom: 10%;
}

.p2 {
    padding-top: 29%;
    padding-bottom: 29%;
}
