*{
    margin: 0;
}

body {
    background-color: #334048;
    
    color: #FAFCD9;
    font-size: 30px;

    animation-name: fade;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    0% {
        background-image: radial-gradient(circle closest-side, #F4F4F9, #FAFCD9 25%, #334048 75%);
    }
    50% {
        background-image: radial-gradient(circle closest-side, #F4F4F9, #FAFCD9 15%, #334048 65%);
    }
    100% {
        background-image: radial-gradient(circle closest-side, #F4F4F9, #FAFCD9 25%, #334048 75%);
    }
}

#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

a {
    text-decoration: none;
    color: #FAFCD9;
}

p {
    text-align: center;
    /* line-height: 1000%; */
    
}

.p {
    padding-top: 29%;
    padding-bottom: 10%;
}

.p2 {
    padding-top: 29%;
    padding-bottom: 10%;
    color: #334048;
}

.p3 {
    padding-top: 29%;
    padding-bottom: 29%;
}
