* {
    margin: 0;
}

body {
    background-color: #FAFCD9;
    color: #334048;
    font-size: 30px;

    background-image: radial-gradient(#628ba4, #FAFCD9 90%);
    background-position: center;
    height: 830px;

    animation-name: fade;
    animation-delay: none;
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes fade {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

#center {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    position: fixed;
    top: 17%;
    left: 23.5%;

    line-height: 200%;

    animation-name: close;
    animation-direction: forwards;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes close {
    from {
        transform: scale(100%);
    }
    to {
        transform: scale(90%);
    }
}

b{
    opacity: 0;
}

#side2 {
    position: relative;
    transform: rotate(90deg);
    top: 186px;
    left: 555px;
}

#side3 {
    position: relative;
    top: 349px;
}

#side4 {
    position: relative;
    transform: rotate(-90deg);
    top: 68px;
    left: -246px;
}

#fade {
    color: #78c9fb;
    transform: translate(-85.5%, -10%);
    opacity: 0;

    animation-name: fade;
    animation-direction: forwards;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#wake {
    color: #628ba4;
    position: fixed;
    top: 115%;
    left: 41%;
    font-size: 30px;
    opacity: 0;

    animation-name: wake;
    animation-direction: forwards;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes wake {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(200%);
    }
}

a {
    text-decoration: none;
    color: #9bd7fc;

    animation-name: pulse;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes pulse {
    0% {
        color: #9bd7fc;
        text-shadow: none;
    }
    50% {
        color: white;
        text-shadow: 0px 0px 10px;
    }
    100% {
        color: #9bd7fc;
        text-shadow: none;
    }
}

a:hover {
    opacity: 0.5;
}