*{
    margin: 0;
}

body {
    background-color: #334048;
    color: white;
}

#center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FAFCD9;
}

p {
    font-size: 400%;

    animation-name: slide;
    animation-delay: none;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes slide {
    from {
        font-size: 100%;
        transform: translateY(3000%);
    }
    to {
        transform: translateY(0%);
    }
}
