* {
    margin: 0;
    
}

body {
    background-color: #628ba4;
    color: #FAFCD9;
    font-size: 25px;

    background-image: radial-gradient(#628ba4, #FAFCD9 60%);
    background-position: center;
    height: 830px;

    animation-name: fade;
    animation-delay: none;
    animation-direction: normal;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes fade {
    from {
        background-color: #FAFCD9;
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

#center {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

em {
    position: relative;
    top: -230px;
    opacity: 0;
    font-style: normal;

    font-family: 'Abril Fatface', serif;

    animation-name: fade;
    animation-delay: 3s;
    animation-direction: normal;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: #628ba4;
    font-size: 30px;

    animation-name: glow;
    animation-delay: 3s;
    animation-direction: normal;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes glow {
    0% {
        color: #628ba4;
        text-shadow: none;
    }
    50% {
        color: #7aaac8;
        text-shadow: 0px 0px 20px #7aaac8;
    }
    100% {
        color: #628ba4;
        text-shadow: none;
    }
}