* {
    margin: 0;
}

body {
    background-color: #FAFCD9;
    color: #334048;
    font-size: 30px;

    background-image: radial-gradient(#628ba4, #FAFCD9);
    background-position: center;
    height: 830px;

    animation-name: fade;
    animation-delay: none;
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes fade {
    from {
        background-color: #334048;
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

#center {
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-end; */
    width: 60%;
    margin: auto;
    position: fixed;
    top: 17%;
    left: 23.5%;

    line-height: 200%;
}

b {
    opacity: 0;
}

#side2 {
    position: relative;
    transform: rotate(90deg);
    top: 186px;
    left: 546px;
}

#side3 {
    position: relative;
    top: 349px;
}

#side4 {
    position: relative;
    transform: rotate(-90deg);
    top: 68.5px;
    left: -246px;
}

#wind {
    transform: translate(-185%);
    color: #628ba4;

    animation-name: wind;
    animation-delay: 3s;
    animation-direction: forwards;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes wind {
    0% {
        transform: translate(-185%);
    }
    25% {
        transform: translate(-50%, 200%);
    }
    50% {
        transform: translate(45%);
    }
    75% {
        transform: translate(140%, -240%);
    }
    100% {
        transform: translate(375%);
    }
}

#appear {
    color: #98d8ff;
    transform: translate(-59%);
    opacity: 0;

    animation-name: appear;
    animation-direction: forwards;
    animation-delay: 7.5s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: #98d8ff;

    animation-name: pulse;
    animation-delay: 8.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes pulse {
    0% {
        color: #98d8ff;
        text-shadow: none;
    }
    50% {
        color: white;
        text-shadow: 0px 0px 10px;
    }
    100% {
        color: #98d8ff;
        text-shadow: none;
    }
}

a:hover {
    opacity: 0.5;
}